In [ ]:
import pandas

In [6]:
import requests

In [3]:
import pandas as pd

In [7]:
nba = pd.read_csv('data.csv')

In [8]:
type(nba)

pandas.core.frame.DataFrame

In [9]:
len(nba)

1047

In [10]:
nba.shape

(1047, 4)

In [11]:
nba.head()

      skill  count clean_skill           skill_group
0      .net      6        .NET  Programming Language
1   asp.net      4        .NET  Programming Language
2    access      2      Access   Database Technology
3  accumulo      1    Accumulo   Database Technology
4     adobe      1       Adobe              Software